BatchLoad
CloneMultiPage
CreateAlpha
FIFImportExport
LoadFromHandle
LoadFromMemory
LoadFromMemory-classified
ShowMetadata
WebPAnimation
*.o
# example output
log_file.txt
fif_import.csv
fif_export.csv
